@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  width: 100vw;
  font-family: "Inter", sans-serif;
  background: #553055;
}

.App {
  background: #4c2a4c;
  margin: 20px auto;
  width: 90%;
  max-width: 700px;
  color: #eee;
}

.navbar {
  padding: 10px 20px;
  text-align: center;
  background: #6d3d6d;
}

.navbar h1 {
  margin: 10px 0;
}
